<div class="wrapper">
  <div class="side">
    <%= link_to current_user.nickname, edit_user_path(current_user) %>

    <%= render "side_profile" %>
  </div>
  <div class="chat_header">
    <h3>経験値一覧</h3>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
</div>