<div class="wrapper">
  <div class="side">
    <%= render "side_profile" %>
  </div>
  <div class="chat_header">
    <h3>経験値一覧</h3>
  </div>
  <div class="chat">
    <%= render "main_chat" %>
  </div>
</div>