

body {
  margin: 0;
  padding-top: 60px;
}

body,html {
  height: 100%;
  background-color: #f5f5f3;
}

h1,h2,h3,h4,h5,h6,body {
  line-height: 1.57;
  letter-spacing: 0.15em;
  font-size: 16px;
  color: #666;
  font-family: 'Unica One', "Avenir", "游ゴシック", "YuGothic", "ヒラギノ角ゴ Pro W6", "HIragino Kaku Gothic Pro W6", "HIragino Kaku Gothic Pro", Osaka, Meiryo, "メイリオ", "ＭＳ Ｐゴシック", "MS P Gothic", sans-serif;
  margin: 0;
}

a {
  text-decoration: none;
  color: #666;
}

.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 660px;
  *zoom: 1;
}


/* ヘッダー フッター */

.btn,
header.header div.header__bar.row div.grid-6 a.post {
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #57C3E9;
  font-weight: bold;
  text-align: center;
  border-radius: 3px;
  display: inline-block;
}

header,footer {
  display: block;
}

header.header{
  padding: 6px;
  border-bottom: 1px solid #D8D8D8;
  background-color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 5;
  height: 50px;
}

header.header div.header__bar.row {
  position: relative;
}

header.header div.header__bar.row h1.grid-6 {
  font-size: 20px;
  line-height: 41px;
  float: left;
}

header.header div.header__bar.row h1.grid-6 a {
  display: block;
}

header.header div.header__bar.row div.grid-6 {
  float: right;
  text-align: right;
}

header.header div.header__bar.row div.grid-6 .post {
  width: 120px;
  display: inline-left;
  margin-left: 10px;
}

header.header div.user_nav {
  position: relative;
  height: 100px;
  right: 0;
}

footer { 
  margin: 10px auto;
  padding: 10px;
  color: #D8D8D8;
  background-color: #f0f0f0;
}

footer p { 
  text-align: center;
}


/* 完了画面 */

.container {
  margin: 50px 50px;
  padding: 30px 100px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);  /*影をつける*/
  background-color: white;
  box-sizing: border-box;
  border-radius: 20px;  /*角を丸める */
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}


/* 投稿画面 */

form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}


/*メイン画面*/

div.side {  /*プロフィール表示部分*/
  background-color: #EEFFFF;
  width: 100vw;
  height: 200px;
}

div.chat_header h3 {  /*経験値一覧のとこ*/
  padding: 10px 0px;
  text-align: center;
  font-size: 20px;
  background-color: #f0f0f0;
}





/*投稿表示画面*/

div.contenta.row {  /*チャット表示部部*/
  height: calc(100vh - 300px);
  overflow: scroll;  /*スクロール*/
}



div.content_post {  /*投稿内容表示部分*/
  border: 2px solid #57C3E9;
  height: 100px;
  width: 300px;
  margin: 30px 30px 5px;
  padding: 20px;
  border-radius: 5px;
}


.more_list li {
  display: inline;  /*liを横並びにする*/
  margin: 10px;
}









