/* CSSリセット */
html,body {
  height:100%;
}
body {
  font-size: 14px;
  color: #333;
  margin: 0;
  padding: 0;
  margin-bottom: 100px;
}
h1,h2,h3,h4,h5,h6,p {
  padding: 10px 0;
  margin: 0;
}
ul,li {
  padding: 0;
  margin: 0;
}
.only{
  width: 100%;
  position: relative;
  min-height: 100%;
}


/* ヘッダーとフッター */

header {  /*ヘッダー*/
  display: flex;
  height: 80px;
  color: #040295;
  background-color: #f0f0f0;
}

a {  /*Achieve the goalのとこ*/
  text-decoration: none;
  color: #666;
}

a.post{  /*今日の経験値のとこ*/
  padding: 8px 20px;
  font-size: 14px;
  border: 2px solid #57C3E9;
  color: #57C3E9;
  font-weight: bold;
  text-align: center;
  border-radius: 5px;  /*角を丸める */
  display: inline-block;
}

.header_bar_left{  /*ヘッドーの右部分*/
  width: 50%;
  margin: 10px 30px;
}

.header_bar_right{  /*ヘッドーの左部分*/
  width: 50%;
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

footer {  /*フッター*/
  margin: 10px auto;
  padding: 10px;
  color: #D8D8D8;
  background-color: #f0f0f0;
}

footer p {  /*目標達成応援委員会の部分*/
  text-align: center;
}


/*メイン画面*/

.side {  /*プロフィール表示部分*/
  background-color: #EEFFFF;
  width: 100vw;
  height: 300px;
}

.chat_header {  /*経験値一覧の後ろのレイアウト*/
  height: 50px;
  background-color: white;
}

.chat_header h3 {  /*経験値一覧のとこ*/
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
  background-color: #f0f0f0;
}

.chat {  /*チャット表示部部*/
  height: calc(100vh - 300px);
  overflow: scroll;  /*スクロール*/
}

div.content_post {  /*投稿内容表示部分*/
  border: 2px solid #57C3E9;
  height: 100px;
  width: 300px;
  margin: 30px 30px 5px;
  padding: 20px;
  border-radius: 5px;
}

span.name {
  border-bottom: dotted 2px #57C3E9;
}

.more_list li {
  display: inline;  /*liを横並びにする*/
  margin: 10px;
}

ul.more_list {
  padding: 0px 250px;
}



/* 投稿、編集画面 */
.container {
  margin: 50px 50px;
  padding: 30px 100px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);  /*影をつける*/
  background-color: white;
  box-sizing: border-box;
  border-radius: 20px;  /*角を丸める */
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

form input,
form textarea {
  width: 100%;
  margin: 5px 0 15px;
  padding: 10px;
  border: 1px solid #D8D8D8;
  border-radius: 5px;
  font-family: "游ゴシック", "YuGothic";
  
}

form input[type="submit"] {
  background-color: #57C3E9;
  border-radius: 20px;
  color: #fff;
  border: 0;
  font-size: 18px;
}

form input[type="submit"]:hover {
  background-color: #84d3ef;
}

.container {
  margin: 50px 50px;
  padding: 30px 100px;
  box-shadow: 0 0 10px rgba(41, 41, 41, 0.2);
  background-color: white;
  box-sizing: border-box;
}

.container h3 {
  margin: 0 0 20px;
  text-align: center;
  font-weight: normal;
  font-size: 20px;
  color: #666;
}

textarea {
  height: auto;
  min-height: 50px;
  
}

.form footer {
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
}
